<div>
  <%= form_for [@group, @post ] do |f| %>
    <%= f.text_field :title, placeholder: "Post Title" %><br>
    <%= f.text_area :text, placeholder: "Post Text" %><br>
    <%= f.submit "Post", disable_with: 'Submiting...', class: "px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900" %>
  <% end %>
</div>
