<%= render(HeaderComponent.new()) %>
<br/>
<%= render(Groups::HeaderComponent.new()) %>

<table class="table-auto">
  <tbody>
    <div id="groups-list">
      <%= render(Groups::ListComponent.new(groups: @groups)) %>
    <div>
  </tbody>
</table>
